body{
  color: #05c8e6;
  text-align: center;
  font-family: 'Fira Code', monospace;
  background-color: #2F343A;
}
.about-detail {
  text-align: center;
  color: white;
  font-size: 220%;
}
#tribute-info {
 border-radius: 10px;
 background-color:#05c8e6 ;
 margin: auto;
 padding: 29px;
 color: white;
 box-shadow: 5px 2px 20px  #05c8e6;
 width: ;
 height: 355px;
 align-content: center;
  overflow:scroll;
}
#tribute-link {
  color: #283142;
  text-align: right;
}
#tribute-link:hover {
  color: red;
}
#title {
  font-size: 50px; 
  color:#2F343A;
  box-shadow: 5px 2px 20px  #05c8e6;
  background-color: #05c8e6;
}
#image{
  height: auto;
  display:block;
  margin:0 auto;
  width: 20%;
  border: 7px solid #2F343A;
  box-shadow: 4px 4px 8px 3px #2F343A;
}
.footer-class:hover {
  color:#283142;
}


@media (max-width: 480px) {
  #image {
    width: 80%;
  }
  .about-detail {
  text-align: center;
  color: #283142;
  font-size: 70%;
  }
  #tribute-info {
    height: 20%;
    
  }
  #title {
  font-size: 25px; 
}

#img-div {


}